{{!-- to list the things --}}
<li class="list-group-item">
	{{thing_name}}
    {{!-- if the thing hasn't been done, create a button "Done!" --}}
    {{#if notDone}}
	    <button class="btn done-btn" data-id="{{id}}" data-state={{done}}>Done!</button>
    {{/if}}
</li>
